header {
    background-color:#888888;    
}
header a{  
    color: #ffffff;
}

.PostBody {
    width:600px;
    margin-left: auto;
    margin-right: auto;
}
.sList {
    border:1px rgb(0, 0, 0) solid;
}

 .list{
   position: relative;
}
